#about {
  border-top: .5px solid var(--grey);
  border-bottom: .5px solid var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
  height: auto;
}

.aboutPersonal {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.aboutPersonal>p {
  padding: 20px;
  text-align: justify;
  width: 90%;
  font-size: .8rem;
  line-height: 1.2rem;
}

.aboutPersonal img{
  width: 250px;
  border-radius: 100%;
  border: 1px solid orange;
}

.headshotWrapper {
  width: 250px;
  border-radius: 100%;
  position: relative;
}

.headshotWrapper::before,
.headshotWrapper::after {
  content: '';
  position: absolute;
  top: 50px;
  left: 50px;
  right: 0;
  bottom: 0;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  filter: blur(40px);
  background: conic-gradient(transparent, transparent, transparent, transparent, white 80%);

  animation: spin 8s linear infinite;
  z-index: -1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.aboutProfessional {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-top: .5px solid var(--grey);
  text-align: center;
}

.icon-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  height: 150px;
  font-size: .8rem;
}

.icon-text-container i {
  font-size: 20rem;
  color: var(--grey);
  opacity: .8;
  position: absolute;
  top: 0;
  left: -30px;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.icon-text-container h2 b {
  color: white;
}
.icon-text-container h2 {
  margin: 0;
  padding: 0;
  color: grey;
}

.professionalDisplay {
  width: 80%;
  height: 300px;
  position: relative;
  /* Ensure the pseudo-element is positioned relative to this element */
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(to bottom, var(--grey-background), var(--grey-background), black);
  border: none;
  /* Remove the original border */
  border-radius: 20px 20px 0 0;
  padding: 10px;
  margin-top: 40px;
}

.professionalDisplay::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -2px;
  width: calc(100% + 4px);
  height: 100%;
  border-radius: 20px 20px 0 0;
  border: .5px solid var(--blue);
  background: linear-gradient(to bottom, var(--grey-background), var(--grey-background), black);
  -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  mask: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: -1;
}

.displayLeft {
  border-right: .5px solid var(--grey);
}

.displayLeft img,
.displayRight img {
  width: 40px;
  height: auto;
  margin: 5px;

}

.displayLeft,
.displayRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  font-size: 1.2rem;
}

.aboutLogos {
  border-top: 1px solid grey;
  min-width: 110px;
  padding-top: 25px;
}

/* Tablet (min-width: 768px) */
@media only screen and (min-width: 768px) {

}

/* Small screens (min-width: 1024px) */
@media only screen and (min-width: 1024px) {
}

/* Large+ screens (min-width: 1200px) */
@media only screen and (min-width: 1200px) {

}
