footer {
  background-color: var(--black);
  padding: 20px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 200px;
}

.footerIcon {
  color: white;
  font-size: 30px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.footerIcon:hover {
  color: var(--blue);
  transform: translate(0, -5px) scale(1.2);
}

/* Tablet (min-width: 768px) */
@media only screen and (min-width: 768px) {}

/* Small screens (min-width: 1024px) */
@media only screen and (min-width: 1024px) {}

/* Large+ screens (min-width: 1200px) */
@media only screen and (min-width: 1200px) {}
