#projects {
  margin: 20px 0;
  border-top: .5px solid var(--grey);
  border-bottom: .5px solid var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.projectsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.projectSet {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: .5px solid var(--grey);
  position: relative;
  height: auto;
}

.projectSet::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background-color: var(--grey);
  /* Adjust the color as needed */
  transform: translateX(-50%);
  /* Center the line */
  z-index: -1;
}

.projectContainer{
  margin: 20px;
  border: .5px solid rgba(255, 174, 0, 0.482);
  border-radius: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--grey-background);
  position: relative;
  padding-bottom: 20px;
}

.projectWrapper {
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectWrapper::before {
  content: '';
  position: absolute;
  top: 10%;
  left: 5%;
  width: 80%;
  height: 80%;
  border-radius: 30px;
  filter: blur(70px);
  opacity: .5;
  background: rgba(255, 89, 0, 0.1);
  z-index: -1;
}

.projectContainer>h3 {
  font-size: 1.4rem;
}

.projectContainer>p {
  color: grey;
  font-size: .8rem;
  padding: 7px 30px;
}

.project {
  width: 80%;
  height: auto;
  background: var(--black);
  border-radius: 20px;
  border: .5px solid var(--grey);
  margin: 20px;
  background-color: var(--grey-background);
  overflow: hidden;
  position: relative;
}

.project img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.projectURL {
  display: flex;
  align-items: center;
  height: 40px;
}

.projectURL>a {
  font-size: .85rem;
  /* margin-left: 10px; */
  border: .5px solid var(--grey);
  padding: 3px 10px;
  border-radius: 20px;
  width: 70%;
  text-align: center;
}

.window-controls {
  display: flex;
  gap: 8px;
  /* Space between buttons */
  padding: 10px;
}

.window-controls div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff5f57;
  cursor: not-allowed;
}

.window-controls .minimize {
  background-color: #ffbd2e;
  /* Color for minimize button */
}

.window-controls .maximize {
  background-color: #28c940;
  /* Color for maximize button */
}

/* Modal styles */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  z-index: 1000;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5);
  /* Black w/ opacity */
}

.modal h3 {
  font-size: 2rem;
}
/* Disable scrolling when modal is open this class is added to the body*/
.modal-open {
  overflow: hidden;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--grey-background);
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  width: 90%;
  /* Could be more or less, depending on screen size */
}

.modal-content>button {
  border-bottom: 1px solid orange;
  margin-bottom: 30px;
  padding: 5px;
}
.modal-content>p {
  font-size: .9rem;
}
.modalImg>p {
  color: grey;
  font-size: .85rem;
}

.modalImg {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px 0;
  background-color: black;
  border-radius: 30px;
}

.modalImg>img {
  width: 95%;
  height: auto;
  min-width: 200px;
  margin-bottom: 20px;
  border-radius: 30px;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-self: flex-end;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.details-btn {
  cursor: pointer;
  width: 25%;
  /* border: 1px solid white; */
  border-radius: 50px;
  background: linear-gradient(130deg,
  var(--grey-background),
  var(--grey-background),
  rgba(128, 0, 128, 0.416),
  var(--grey-background));
  background-size: 400% 400%;
  padding: 4px 10px;
  border-radius: 50px;
  animation: gradientAnimation 8s ease infinite;
}


@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Tablet (min-width: 768px) */
@media only screen and (min-width: 768px) {}

/* Small screens (min-width: 1024px) */
@media only screen and (min-width: 1024px) {
  .projectsContent {
      flex-direction: row;
    }

    .projectSet {
      width: 50%;
    }

    .modal-content {
      width: 90%;
    }

    .modalImg>img {
      width: 85%;
    }
}

/* Large+ screens (min-width: 1200px) */
@media only screen and (min-width: 1200px) {}
